.lock {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: $max-width-container;
  margin: 0 auto;
  padding: 0 15px;

  outline: 1px solid gold;
}

.wrapper {
  max-width: $max-width;
  margin: 0 auto;
}

.main {
  padding: 70px 0;
}
