// fonts:

// colors:
$main-color: orange;
$bg-color:#ffffff;
$text-color: #000000;


//
$max-width: 1440px;
$max-width-container: 1140px;

// display

$tablet-width: 767px;
$desktop-width: 1440px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
